@use '../../variables' as *;

.expense-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: $bg-primary-dark;

  h2{
     flex: 1;
  color: white;
  font-size: 1rem;
  margin: 0 1rem;
  }
}

.expense-item__description{

  display: flex;
  flex-flow: column-reverse;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-end;
  flex: 1;
}

.expense-item__price{

  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  background-color: $violet-dark;
  border: 1px solid white;
  border-radius: 12px;
}

@media (min-width: 480px){

  .expense-item__description{
    
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }
  
  .expense-item__price{
    font-size: 1.25rem  ;
    padding: 0.5rem 1.5rem;
  }
}
  