$bg-primary-dark: #3f3f3f;
$bg-primary-black: #2a2a2a;

$border-shadow-dark: rgba(0, 0, 0, 0.25);
$border-light: #ececec;

$violet-dark: #40005d;
$violet-dark-hover: #510674;
$violet-light: #a892ee;

$text-color: white;
