@use "./abstracts/forwards" as *;

@font-face {
  font-family: "Noto Sans";
  src: url("assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  background-color: $bg-primary-dark;
}
